* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.login_page {
    border-radius: 10px;
    display: flex;
    width: 100%;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form_container, .image_container {
    flex: 1;
    padding: 30px;
}

.form_container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    border-radius: 10px;
    margin: 5px;
}

.image_container {
    background-image: url(../img/img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 0 0 20px;
}

p {
    margin: 0 0 30px;
    color: gray;
}

label {
    margin: 10px 0 5px;
    color: gray;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.remember_me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.remember_me span {
    margin-left: auto;
    color: #007BFF;
    cursor: pointer;
}

input[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.new_user {
    margin-top: 20px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .login_page {
        flex-direction: column;
    }

    .image_container {
        height: 200px; 
        padding: 80px 0; 
        margin-top: 50px;
    }

    .form_container {
        padding: 20px;
        margin: 0;
    }
}
